.layer {
  align-self: stretch;
}

.canvas {
  display: block;
  overflow: visible;
}

.line {
  fill: none;
  stroke: #7b7b7b;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
