.photo {
  display: block;
  flex-shrink: 0;
  width: 345px;
  height: 345px;
  border: 3px solid #595959;
  border-radius: 50%;
  background-color: #d9d9d9;
  object-fit: cover;
}

.large {
  width: 455px;
  height: 455px;
  border-width: 4px;
}
