.badge {
  padding: 8px 24px;
  border-radius: 100px;
  color: #ffffff;
  font-family: "Mont", var(--font-sf-pro);
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.online {
  background-color: #8bb831;
}

.offline {
  background-color: #a6a6a6;
}
